<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>
<div class="field">
  <%= f.label :town %>
  <%= f.text_field :town %>
</div>
<div class="field">
  <%= f.label :state %>
  <%= f.text_field :state, :class => 'short_field' %>
</div>
<div class="field">
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode, :class => 'short_field' %>
</div>