<% content_for :side_menu do %>
  <div id="admin_side_menu">
    <%= button_to 'Delete Business', admin_business_path(@business), :method => :delete, :confirm => "This will also delete any coupons associated with this business. Are you sure you would like to delete this business?", :class => 'lg_button' %>
  </div>
<% end %>

<div class="title">Edit Business</div>

<% if (@business.lat.nil? || @business.lng.nil?) %>
  <div class='warning_box'><%= image_tag "warning_24.png" %> Geocoding is not available for this business. Please check the address and zipcode.</div> 
<% end %>

<%= form_for(@business, :url => admin_business_path, :html => { :class => 'admin_form' } ) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions">
    <%= f.submit "Update", :disable_with => 'Saving...', :class => 'lg_button' %>
  </div>
<% end %>