<% content_for :side_menu do %>
  <div id="admin_side_menu">
    <%= button_to 'Create New Business', new_admin_business_path, :method => :get, :class => 'lg_button' %>
  </div>
<% end %>

<div class="title"><%= @title %></div>

<table class="admin_table">
  <tr>
    <th>Business Name</th>
    <th>Address</th>
    <th>Town</th>
    <th>Zip Code</th>
  </tr>
  <% @businesses.each do |business| %>
    <tr onClick="document.location='<%= edit_admin_business_path(business) %>'"> 
      <td><%= business.name %></td>
      <td><%= business.address %></td>
      <td><%= business.town %></td>
      <td><%= business.zipcode %></td>
    </tr>
  <% end %>
</table>
  
<div class='admin_paging'><%= will_paginate %></div>
