<div class="for_businesses">
<div class="title">How Can I Generate Revenue For My Business With Champak??</div>

<%= image_tag 'growth_chart.jpg', :style => 'float:right;' %>
<div style="height:30px;"></div>
<p>Want to <b>Jump-start</b> Your Business? <br/>
How About Exposure to Active Local Consumers Through <b>Direct Mail</b>?<br/>
How About 24/7 Exposure <b>Online</b>, on <b>Twitter</b>, and on <b>Facebook</b>? <br/>
Sounds too Good to be True, or Sound Complicated?</p>

<div class="clear"></div>
<div class="subtitle">Champak makes it possible and easy!</div>
  
<p>Now you may be asking yourself: Coupons, really? Does that really work?</p>

<p>It does! Here is just one reason why:</p>
<div class="fact">A 2009 study found that 87% of consumers prefer to shop at retailers that offer coupons, and 89% said they’re more likely to use coupons in a recession<div class="source">Source: Packaged Facts</div></div>

<p>Still not convinced? We made an <%= link_to 'entire page', why_coupons_path %> of reasons why</p>

<div class="subtitle">Ready to Get Going?</div>


<p>Here are the easy steps you will take to start improving your business.</p>
<div class="clear20"></div>
<%= image_tag 'phone.jpg', :style => 'float:right;' %>
  
<ol>
  <li><p>Schedule an Appointment with a Local Marking Consultant by Calling (802)-660-9765 </p></li>
  <li><p>Your Champak Marketing Consultant will Help you Develop Office, Choose Mail Zones, and Determine Mail Dates.</p></li>
  <div class="clear"></div>
  <%= image_tag 'coupon.jpg', :style => 'float:left; margin:10px 40px 20px 0px;' %>
  <li><p>Champak Will Deliver to you Via E-Mail, Fax, or In-Person an Ad Proof Within 4 Business Days of Your Initial Appointment</p></li>
  <li><p>Once Your Coupon is Approved it is Printing, Stuffed, and Mailed on the Pre-determined Mail Date and it is Posted Online on Champak.net and Through Popular Social Networks</p></li>
  <div class="clear"></div>
  <li><%= image_tag 'mailman.jpg', :style => 'float:right;' %><p>The Champak is Delivered by the United States Postal Service to Homes and Apartments in Your Chosen Zip Codes</p></li>
  <li><p>Your Champak Marking Consultant will Deliver to Your Business a Tear Sheet and Proof of Mailing Within 5 Business Days of the Mail Date</p></li>
  <li><p>Area Residents Bring the Coupons to Your Store... Making Your Cash Register Ring!!!</p></li>
</ol>
<div class="clear"></div>

<div class="subtitle">It is That Easy to Generate MORE Revenue with Coupons and Champak!</div>

</div>