<div class="title">Champak Site Help</div>

<p>Having trouble or have some questions?</p>

<p>You can check out the <a href="#site_guide">site guide</a> to help you navigate around and use the site.</p>

<p>Or check out the <a href="#questions">top questions</a>.
  <ul>
    <li><a href="#add_new_coupons">When do you add new coupons?</a></li>
    <li><a href="#why_not_listed">Why isn't business XYZ listed?</a></li> 
    <li><a href="#business_start">How can my business start including coupons with Champak?</a></li>
    <li><a href="#printing">Why can't I print coupons?</a></li>
    <li><a href="#browsers">What browsers do you support?</a></li>
    <li><a href="#sharing">If I share a coupon through your site does that mean you will have access to or see my account?</a></li>
  </ul>
</p>

<a name="site_usage"></a><div class="title">Site Usage Guide</div>

Finding great coupons on Champak is easy! There are many features of the site that will assist you in your quest to find the best local coupons for your favorite places. The following is a description of some of the features you will find on the site, and how to use it to find what you are looking for. 

<div class="subtitle">Site menu</div>

<%= image_tag 'help_menu.jpg' %>

<p>Home - main site page<br/>
New Coupons - newest coupons added to the site unto one month ago<br/>
Hot Coupons - top 10 coupons ranked by number of users printing that coupon<br/>
Online Only - coupons not found in the Champak mailing booklet and only available online<br/>
For Businesses - information for businesses about including their own coupons with Champak mailing booklets and on Champak.net</p>

<div class="subtitle">Quick Search</div>

<%= image_tag 'help_quick_search.jpg' %>

<p>The quick search box allows you to easily narrow down coupons by coupon category, town which the business for the coupon is located, or by entering a zip code to see coupons for businesses that are within 10 miles of that zip code.</p>    

<div class="subtitle">Coupon Lists</div>

<%= image_tag 'help_coupon_list.jpg' %>

<p>Any of the site menu or quick search selections will bring you to a list of coupons based on your selection. This list shows the name of the business, the town that business is located in, and a short description of that coupon. Clicking on the short description of the coupon will take you to that coupon's page which has more information and options.</p>  

<%= image_tag 'help_coupon_list_box.jpg' %>

<p>The coupon list also includes a yellow box which shows when a listed coupon expires. This box also contains two action buttons, view and print. View will take you to the coupon page and print brings up a popup box to print the coupon from the list page without going into the more detailed coupon page.</p>  

<%= image_tag 'help_coupon_list_paging.jpg' %>

<p>Only 10 coupons are show on a list at one time. If more than 10 coupons are available for a list, there will be paging options at the bottom of the list to navigate to the rest of the items in the coupon list.</p>  

<div class="subtitle">Coupon List Refinement</div>

<%= image_tag 'help_list_refine.jpg' %>

<p>Coupon lists also contain a side box under the quick search options which allow you to refine the coupons shown in any given list.</p>  

<%= image_tag 'help_list_refine_sort.jpg' %>

<p>You have several options to sort coupons whatever order is most convenient for you. You may sort alphabetically by business name, alphabetically by coupon description, coupons that are expiring soonest, the most popular coupons by printing, most savings anticipated by using the coupon, and the newest coupons listed on the site. Clicking on any option will reload the current page with the desired sort order. Clicking on a new sort order will cancel any previously selected sort order. If no sort order is selected, business name is the default sort, with the exception of the "Hot Coupons" list which sorts by popularity by default.</p>   

<%= image_tag 'help_list_refine_filter.jpg' %>

<p>You may also choose to filter coupons in a list by category or town similar to the functionality of the quick search selectors. Filtering is only available on the attributes available for those coupons in the given list. Therefore if a town or category is not listed, no coupons in the current list fit that criteria. After selecting a filter, it can be cancelled by clicking the red X next to the filter name. Category filtering is not available when a category is selected from the quick search options first, and the same applies for town selection.</p>  

<%= image_tag 'help_list_refine_distance.jpg' %>

<p>Distance from refinement is available for zip code quick searches. You can refine the current list of coupons by selecting a different distance from the entered zip code. Zip code searches also add a distance option to sort coupons by. This functionality is only available after using the view coupons by distance zip code quick search.</p>  

<%= image_tag 'help_list_refine_reset.jpg' %>

<p>The reset refinements link will cancel any refinements that have been user selected back to the default options for that list.</p>    

<div class="subtitle">Coupon Page</div>

<%= image_tag 'help_coupon_page.jpg' %>

<p>The coupon page shows all available information and actions for any coupon. This includes the business name and location, expiration date, short and extended descriptions of the coupon, and a small image of the coupon.</p>  

<%= image_tag 'help_coupon_page_print.jpg' %>

<p>Clicking the "Print and Use This Coupon" button toward the top right of the page will open up the coupon printing popup and activate the printing of the coupon.</p>  

<%= image_tag 'help_coupon_page_rate.jpg' %> 

<p>You have the option to rate coupons to share with others how great you feel this coupon is. You easily rate coupons by hovering your mouse over the rating you feel is appropriate and clicking to set your rating. Half star ratings are available by selecting the left side of the star, and whole ratings by selecting the right side. Top rated coupons appear on the main page of the site so rating coupons helps others quickly find the best deals on the site.</p>  

<%= image_tag 'help_coupon_page_share.jpg' %>

<p>Sharing coupons via email or other social networking sites is easy with the links on the right hand side of the coupon page under the coupon image. You can share by email, facebook, twitter, digg, or blogger by default. The plus icon to the right brings up an almost complete list of social sharing options. *Note you may need to sign-in to your account at a given external social network before you are able to share to that site.</p>  

<div class="subtitle">Printing A Coupon</div>

<%= image_tag 'help_print.jpg' %>

<p>Clicking the print button from either the coupon list or the coupon page will activate a popup and automatically bring up options for printing a coupon. Once you click print or cancel of the printing options, this popup will close automatically. If you are having trouble printing coupons, please see the question <a href="#printing">Why can't I print coupons?</a></p> 

<div class="subtitle">Search</div>

<%= image_tag 'help_search.jpg' %>

<p>At any time you can search coupons on the site by entering a text query into the "Search the site" box at the top of the site and clicking the search button. The search functionality will only search within the business name or short description of any coupon and return those results in alphabetical order. Sorting and filtering is not available for search results.</p> 


<a name="questions"></a><div class="title">Questions</div>

<a name="add_new_coupons"></a><div class="subtitle">When do you add new coupons?</div>

<p>Coupons are added as new businesses add coupons with Champak, or when old coupons expire and a business decides to replace them with new ones. If you want to know exactly when new coupons are released, please <%= link_to 'follow us', "http://twitter.com/champakdotnet", :target => '_blank' %> on Twitter.</p> 

<a name="why_not_listed"></a> <div class="subtitle">Why isn't business XYZ listed?</div> 

<p>Probably because they do not do coupons or they are not on Champak. If you would like to see them add coupons to Champak, please contact them and tell them to contact us.</p>

<a name="business_start"></a><div class="subtitle">How can my business start including coupons with Champak?</div>

<p>Visit our For Businesses page to find out</p>

<a name="printing"></a><div class="subtitle">Why can't I print coupons?</div>

<p>Champak uses popup windows to open a new window in which the printable coupon is displayed. If you are not getting a new window opening when you click the print button from the webpage, you will need to ensure javascript is enabled and allow popup windows in order for this to function properly. If you need assistance in allowing pop-up windows, please refer to this <%= link_to 'help page', help_popup_path %>.</p> 

<p>Once the popup window is activated, you should see the options for printing. If you are not present with print options you may force printing by typing Ctrl+P on a PC or &#8984;+P on Mac.</p> 

<a name="browsers"></a><div class="subtitle">What browsers do you support?</div>

<p>Champak is tested to work on Firefox 3.6.X and Internet Explorer 8. It should work fine on earlier versions, but functionality is not guaranteed. Javascript is required for much of the site's functionality.</p> 

<a name="sharing"></a><div class="subtitle">If I share a coupon through your site does that mean you will have access to or see my account?</div>

<p>No. Champak does not save or use any of your account or password information for any of your private social networking accounts. We only provide a social networking site with the URL and description of the page you would like to share and then that site takes over. Champak does use AddThis for some of its social networking sharing options in order to track how many times coupons are shared and on what networks. Their privacy policy and terms of service can be viewed <%= link_to 'here', "http://www.addthis.com/", :target => '_blank' %></p>