<% content_for :side_menu do %>
  <div id="admin_side_menu">
    <%= button_to 'Create New Category', new_admin_category_path, :method => :get, :class => 'lg_button' %>
  </div>
<% end %>

<div class="title"><%= @title %></div>

<table class="admin_table">
  <tr>
    <th>Name</th>
  </tr>
  <% @categories.each do |category| %>
    <tr onClick="document.location='<%= edit_admin_category_path(category) %>'"> 
      <td><%= category.name  %></td>
    </tr>
  <% end %>
</table>
  
<div class='admin_paging'><%= will_paginate %></div>
