<div class="coupon_item">
	<div class="right_content">
  	<div class="coupon_valid_dates"><span>Expires</span> <%= coupon_item.valid_until.strftime('%D') %></div>
	  <div class="action_buttons">
  	  <%= link_to image_tag("view.png", :size => "58x37", :alt => "View"), coupon_link(coupon_item) %>
  	  <%= link_to image_tag("print.png", :size => "58x37", :alt => "Print And Use This Coupon"), "/print/#{coupon_item.id}", :class => "print_coupon_link" %>
	  </div> 
  </div> 
	<div class="business_name"><%= coupon_item.business.name %>
	  <% if params[:action] == 'by_distance' && Rails.env.production? %>
	    <span class='miles_away'> - <%= {pluralize(number_to_human(coupon_item.distance), "mile")} %> away</span> 
	  <% end %>
  </div>
  <div class="business_address"><%= coupon_item.business.town %></div>
  <div class="coupon_short_description"><%= link_to coupon_item.short_description, coupon_link(coupon_item) %></div>
  <% if coupon_item.online_only %>
    <div class="online_only"><%= image_tag "online_only.png", :size => '50x50', :alt => "Online Only" %></div>
  <% end %>
</div>