<div class="coupon">
<div class="right_content">
	<div class="action_buttons">
	  <div class="coupon_valid_dates"><span>Expires</span> <%= @coupon.valid_until.strftime('%D') %></div>
	  <%= link_to image_tag("print_and_use.png", :size => "180x37", :alt => "Print And Use This Coupon"), "/print/#{@coupon.id}", :class => "print_coupon_link" %>
  </div>
</div> 
<div class="business_name"><%= @coupon.business.name %></div>
<div class="business_address"><%= @coupon.business.town %></div>
<div class="coupon_short_description"><%= @coupon.short_description %></div>
<div class="coupon_long_description"><%= @coupon.long_description %><br/>Posted: <%= @coupon.created_at.strftime('%D') %></div>

<div class="clear20"></div>
<%= image_tag @coupon.image.url(:page) %>

<div class="coupon_social_links">
  Share This Coupon
  <div class="addthis_default_style addthis_toolbox addthis_32x32_style">
    <a class="addthis_button_email"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_digg"></a>
    <a class="addthis_button_blogger"></a>
    <a class="addthis_button_compact"></a>
  </div>
</div>

<div class="coupon_rating">
  Rate this Coupon
  <div class="coupon_rating_stars">
    <%= form_tag(rate_coupon_path(@coupon.id), :remote => true) %>
      <% (0.5..5).step(0.5) do |n| %>
        <% @rating_star = (@coupon.rating*2+0.5).floor/2.0  %>  
        <input name="star_rating" type="radio" class="coupon_rating_star {split:2}" value="<%= n %>" <%= @rating_star == n ? "checked" : "" %> />
      <% end %>
    </form>
    <div class="clear"></div>
  </div>
  <div class="coupon_rating_stats">
    Rated <%= '%.1f' % @coupon.rating %> based on <%= @coupon.total_ratings %> ratings.
  </div>
</div>

<div class="sep_bar"></div>

<div class="suggestions">
  <% if @suggest_town || @suggest_cat %>
    <div class="suggest_title">You may also be interested in...</div>
  <% end %>
  <% if @suggest_town %>
    <div class="two_column suggest_box">
      Also in <span class="bold"><%= @coupon.business.town %></span>
      <div class="business_name"><%= link_to @suggest_town.business.name, coupon_link(@suggest_town) %></div>
      <div class="description"><%= link_to @suggest_town.short_description, coupon_link(@suggest_town) %></div>
      <div class="all"><%= link_to "See All Coupons in #{@coupon.business.town}", "/#{@coupon.business.town}-Coupons/t"  %></div>
    </div>
  <% end %>
  <% if @suggest_cat %>
    <div class="two_column suggest_box"> 
      Also in <span class="bold"><%= @coupon.category.name %></span>
      <div class="business_name"><%= link_to @suggest_cat.business.name, coupon_link(@suggest_cat) %></div>
      <div class="description"><%= link_to @suggest_cat.short_description, coupon_link(@suggest_cat) %></div>
      <div class="all"><%= link_to "See All Coupons in #{@coupon.category.name}", "/#{@coupon.category.name}-Coupons/c"  %></div>
    </div>  
  <% end %>
</div>  

</div>