<% content_for :side_menu do %>
  <div id="admin_side_menu">
    <%= button_to 'Create New Coupon', new_admin_coupon_path, :method => :get, :class => 'lg_button' %>
  </div>
<% end %>


<div class="admin_filter_table">View: <%= link_to 'Active', params.merge(:filter => 'active'), :class => ('bold' if @filter == 'active' )  %> | <%= link_to 'Expired', params.merge(:filter => 'expired'), :class => ('bold' if @filter == 'expired' ) %> | <%= link_to 'All', params.merge(:filter => 'all'), :class => ('bold' if @filter == 'all' ) %> </div>
<div class="title"><%= @title %></div>
<table class="admin_table">
  <tr>
    <th>Business Name</th>
    <th>Short Description</th>
    <th>Valid From</th>
    <th>Valid Until</th> 
  </tr>
  <% @coupons.each do |coupon| %>
    <tr onClick="document.location='<%= edit_admin_coupon_path(coupon) %>'"> 
      <td><%= coupon.business.name %></td>
      <td><%= coupon.short_description %></td>
      <td><%= coupon.valid_from %></td>
      <td><%= coupon.valid_until %></td>
    </tr>
  <% end %>
</table>
  
<div class='admin_paging'><%= will_paginate %></div>
