<div id="header_menu">
	<ul>
  	<li><%= link_to menu_item("home"), root_path %></li>
    <li><%= link_to menu_item("new_coupons"), coupons_by_new_path %></li>
    <li><%= link_to menu_item("hot_coupons"), coupons_by_hot_path %></li>
    <li><%= link_to menu_item("online_only"), coupons_by_online_only_path %></li>
    <li><%= menu_item("for_businesses") %></li>
	</ul>
</div>