<div id="header_menu">
	<ul>
  	<li><%= link_to menu_item("home"), root_path %></li>
    <li><%= menu_item("new_coupons") %></li>
    <li><%= menu_item("hot_coupons") %></li>
    <li><%= menu_item("online_only") %></li>
    <li><%= menu_item("for_businesses") %></li>
	</ul>
</div>